# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (se não usar, pode remover)
Pods/
Podfile.lock

# Carthage (se não usar, pode remover)
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# iOS specific
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Secrets / configs locais
*.plist
!Info.plist       # mantém o Info.plist do projeto
GoogleService-Info.plist
RunnerPetLite/Config/*.plist

# User-specific
*.swp
*.xcuserstate
